.container_blog-all {
  background: radial-gradient(
      at center center,
      rgba(255, 0, 0, 0.38) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../Assets/exercise-4607682_1920.jpg") no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container_blog-wrap {
  text-align: center;
}

.container_blog-wrap h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

.container_blog-wrap p {
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .container_blog-wrap h1 {
    font-size: 2.5rem;
  }
}
