.container_gallery-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.img1 img {
  height: 100%;
  width: 100%;
}

.img1 {
  width: 30%;
  height: 500px;
}

.img2 img {
  height: 100%;
  width: 100%;
}

.img2 {
  width: 32%;
  height: 500px;
}

.img3 img {
  height: 100%;
  width: 100%;
}

.img3 {
  width: 38%;
  height: 500px;
}

.img4 img {
  height: 100%;
  width: 100%;
}

.img4 {
  width: 30%;
  height: 500px;
}

.img5 img {
  height: 100%;
  width: 100%;
}

.img5 {
  width: 30%;
  height: 500px;
}

.img6 img {
  height: 100%;
  width: 100%;
}

.img6 {
  width: 30%;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .img1 {
    width: 35%;
  }

  .img2 {
    width: 65%;
  }

  .img3 {
    width: 45%;
  }

  .img4 {
    width: 55%;
  }

  .img5,
  .img6 {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 100%;
  }
}
