* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

.component-header {
  background: radial-gradient(
      at center center,
      rgba(255, 0, 0, 0.38) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("Assets/maxresdefault.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}
